<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Angular Express Seed Demo</title>

	<% include partials/head.ejs %>

</head>

<body ng-app="seed">


    <div class="container">
        <h1>Angular Express Seed Demo</h1>
        <div ng-view>

        </div>

    </div>



</body>


    <% include partials/footer.ejs %>

</html>