<section>
    <div class="jumbotron">
    	<div class="container">
    		<h1>Welcome!</h1>
            <br>
            <div class="text-center">
                <p ng-if="!user">
                    <a href="/login" class="btn btn-primary btn-lg">Login</a>
                    <a href="/register" class="btn btn-primary btn-lg">Register</a>
                </p>
                <p ng-if="user">
                    <a href="/users" class="btn btn-info btn-lg">List all Users</a>
                    <a href="/user" class="btn btn-info btn-lg">Show a User</a>
                </p>
            </div>
    	</div>
    </div>
</section>

